# set

In [1]:
nums={1,2,4,6,3,1,2,3,5,10,7,6,8,9,11}

In [2]:
type(nums)

set

In [3]:
nums

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
nums.add(5.5)

In [5]:
nums

{1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 10, 11}

In [6]:
odds={1,3,5,7,9}
even={2,4,6,8,10}
prime={1,2,3,5,7}
composites={1,2,3,4,5,7,8,9}

In [7]:
odds.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
even.union(odds)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
odds.intersection(even)

set()

In [10]:
odds.intersection(composites)

{1, 3, 5, 7, 9}

In [12]:
composites.difference(odds)

{2, 4, 8}

In [13]:
even.difference(composites)

{6, 10}

In [14]:
composites.difference(even)

{1, 3, 5, 7, 9}

In [15]:
even.intersection(composites)

{2, 4, 8}

In [16]:
(even.difference(composites)).union(composites.difference(even))

{1, 3, 5, 6, 7, 9, 10}

In [17]:
even.symmetric_difference(composites)

{1, 3, 5, 6, 7, 9, 10}

In [18]:
even

{2, 4, 6, 8, 10}

In [19]:
even.add(6)

In [20]:
even

{2, 4, 6, 8, 10}

In [22]:
employees={'Levin','Venkatesh','Krishna','Ramya','Siva','Subramani'}
developer={'Venkatesh','Krishna','Ramesh','Abirami'}
gym_user={'Ramesh','Venkatesh','Siva','Subramani','Ganesh'}

# 1.Get the employees list who are working as a developer and using gym
# 2.List the name who are using gym and not an employee of the company
# 3.Which all are the employee , not a developer and not using gym facilities

In [24]:
employees.intersection(developer.intersection(gym_user))

{'Venkatesh'}

In [25]:
gym_user.difference(employees)

{'Ganesh', 'Ramesh'}

In [27]:
employees.difference(developer.union(gym_user))

{'Levin', 'Ramya'}

# Definitions

In [28]:
def add_nums(x,y):
    return x+y

In [29]:
add_nums(5,6)

11

In [30]:
add_nums(10,20)

30

In [31]:
add_nums(10,20,30)

TypeError: add_nums() takes 2 positional arguments but 3 were given

In [32]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [33]:
add_nums()

TypeError: add_nums() missing 2 required positional arguments: 'x' and 'y'

In [34]:
def add_nums(x,y=0):   # Default variable
    return x+y

In [35]:
add_nums(10,20)

30

In [36]:
add_nums(10)

10

In [38]:
add_nums(10,20,30)

TypeError: add_nums() takes from 1 to 2 positional arguments but 3 were given

In [39]:
def add_nums(x,y):    #Documentory string
    ''' The add_nums is for adding 2 number, Please call the function with two number to get some of those'''
    return x+y

In [43]:
add_nums.__doc__

' The add_nums is for adding 2 number, Please call the function with two number to get some of those'

In [44]:
add_nums(50,60)

110

In [45]:
def add_nums(x,*y):    # *args -> takes any number of arguments
    return x+sum(y)

In [47]:
add_nums(10)

10

In [48]:
add_nums(10,20)

30

In [49]:
add_nums(10,20,30,40,50)

150

In [50]:
add_nums(10,20,30,40)

100

In [52]:
def add_nums(*x):    # *args -> takes any number of arguments
    return sum(x)

In [53]:
add_nums(10,20,30,40,50)

150

In [54]:
add_nums(10,20,30,40)

100

In [55]:
def max_of_three(a,b,c):
    if a>b & a>c:
        return a
    elif b>a & b>c:
        return b
    else:
        return c

In [56]:
max_of_three(100,50,220)

220

In [57]:
def calc(a,b):
    print("Sum",a+b)
    print("Substraction",a-b)
    print("Multiplication",a*b)
    print("Division",a/b)
    print("Exponent",a**b)

In [58]:
calc(10,20)

Sum 30
Substraction -10
Multiplication 200
Division 0.5
Exponent 100000000000000000000

In [59]:
# **kwargs

In [60]:
def info(**x):
    print(type(x))
    print(x)

In [61]:
info(day="Wednesday", year=2023, month="January")

<class 'dict'>
{'day': 'Wednesday', 'year': 2023, 'month': 'January'}

In [68]:
def myfunction(x,*y,**z):
    print(f"type of x is {type(x)}")
    print(f"type of y is {type(y)}")
    print(f"type of z is {type(z)}")
    print(f"x is {x}")
    print(f"y is {y}")
    print(f"z is {z}")

In [69]:
myfunction(10,20,30,40,50,60,tech="Python",mode="Online")

type of x is <class 'int'>
type of y is <class 'tuple'>
type of z is <class 'dict'>
x is 10
y is (20, 30, 40, 50, 60)
z is {'tech': 'Python', 'mode': 'Online'}

In [ ]:
#scope of the variable -> local and global
#oops -> public, protected, private
lambda, map,filter, reduce
decorator and generator

In [71]:
age=20  #global

def callme():
    global age
    age=100   #local
    print("Age inside the function is :",age)   #100
    
print("Age before the function call is :", age)  #20
callme()
print("Age after the fucntion call is :",age)  #100

Age before the function call is : 20
Age inside the function is : 100
Age after the fucntion call is : 100

In [72]:
#lambda, map, filter, reduce

# syntax:
#     lambda inputs: expr

# to add tw number

(lambda x,y : x+y)(500,600)

1100

In [73]:
addnums=lambda x,y : x+y

In [74]:
addnums(6,7)

13

In [75]:
addnums(100,200)

300

In [76]:
mx=lambda a,b,c: max(a,b,c)

In [77]:
mx(10,15,12)

15

In [78]:
mx=lambda a,b,c: a if a>b and a>c else b if b>c and b>a else c

In [79]:
mx(100,500,1000)

1000

In [80]:
mx(111,55,66)

111

In [81]:
#lambda function to the area of the circles

area=lambda r : 3.14*r**2

In [82]:
area(5)

78.5

In [83]:
area(10)

314.0

# map function

In [84]:
list(map(lambda x:x**2, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [85]:
from math import pi
def circle_area(r):
    return pi*r**2

In [86]:
list(map(circle_area,[1,2,3,4,5,6,7,8,9,10]))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483,
 113.09733552923255,
 153.93804002589985,
 201.06192982974676,
 254.46900494077323,
 314.1592653589793]

In [88]:
list(filter(lambda x: x%2==1, [1,2,3,4,5,6,7,8,9,10]))

[1, 3, 5, 7, 9]

In [90]:
list(filter(lambda x: x>5 and x%2==1, [1,2,3,4,5,6,7,8,9,10]))

[7, 9]

# reduce

In [91]:
from functools import reduce

reduce(lambda x,y: x*y , [1,2,3,4,5,6,7,8,9,10])

3628800

In [92]:
reduce(lambda x,y: x*y , [1,2,3,4,5])

120

# definition vs generator

In [96]:

import memory_profiler as mem_profile
import random
from time import process_time

names=['Jhon','David','Bala','Rajesh','Siva','Priya','Malini','Tharani']
majors=['Math','CompSci','Mech','Civil','Physics','Arts','Business']

print('Memory (Before):' + str(mem_profile.memory_usage()) + ' MB')
def people_list(num_people):
    result=[]
    for i in range(num_people):
        person={
            'id':i,
            'name':random.choice(names),
            'major':random.choice(majors)
        }
        result.append(person)
    return result


def people_generator(num_people):
    for i in range(num_people):
        person={
            'id':i,
            'name':random.choice(names),
            'major':random.choice(majors)
        }
        yield person
        
start=process_time()
course_details=people_generator(1000000)
end=process_time()

print('Memory (After):' + str(mem_profile.memory_usage()) + ' MB')
print(f"Took {end-start} Seconds")

Memory (Before):[304.24609375] MB
Memory (After):[36.08203125] MB
Took 0.03125 Seconds